.page-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-textfield__label{
  color: rgba(255, 255, 255, 0.7);
}

.mdl-textfield__input{
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
